.App {
  text-align: center;
  background-color: #10427C;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 10vh;
  width: auto;
  background-color: #8759AF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-container {
  margin-left: 10vh;
  margin-right: 10vh;
  background-color: #092C61;
}

.login-button {
  background-color: red;
  padding: 1vh 4vh;
  font-size: calc(2px + 2vmin);
  border: none;
  font-family: sans-serif;
  color: white;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  height: 100px;
  width: 140px;
  font-family: Arial;
  margin: 2vh;
  
}

.edit-button{
  width: auto;
  color: black;
  background-color: yellow;
}

.delete-button{
  width: auto;
  color: black;
  background-color: red;
}