.modal {
    background-color: rgba(0,0,0,0.5);
    
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-top: 2vh; 
}

.modal-header {
    background-color: #8759AF;
    color: white;   
}

.input-form {
  width:55vh;
  border: thin solid #dedede;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline:none;
  display:block;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
}